<h3>Add new user</h3>

<form method="POST" action="/add">
    <div class="row">
        <div class="six column">
            <label for="firstname">Firstname</label>
            <input class="u-full-width" type="text" placeholder="Ola" id="firstname" name="firstname">
        </div>

        <div class="six column">
            <label for="lastname">Lastname</label>
            <input class="u-full-width" type="text" placeholder="Nordmann" id="lastname" name="lastname">
        </div>

        <div class="six column">
            <label for="age">Age</label>
            <input class="u-full-width" type="number" placeholder="25" id="age" name="age">
        </div>

        <div class="six column">
            <label for="street">Street</label>
            <input class="u-full-width" type="text" placeholder="Nordmannveien 22" id="street" name="street">
        </div>

        <div class="six column">
            <label for="city">City</label>
            <input class="u-full-width" type="text" placeholder="Oslo" id="city" name="city">
        </div>

        <div class="six column">
            <label for="state">State</label>
            <input class="u-full-width" type="text" placeholder="Oslo" id="state" name="state">
        </div>

        <div class="six column">
            <label for="latitude">Latitude</label>
            <input class="u-full-width" type="number" placeholder="59.921990" id="latitude" name="latitude">
        </div>

        <div class="six column">
            <label for="longitude">Longitude</label>
            <input class="u-full-width" type="number" placeholder="10.762107" id="longitude" name="longitude">
        </div>

        <div class="six column">
            <label for="ccnumber">CCNumber</label>
            <input class="u-full-width" type="number" placeholder="123456" id="ccnumber" name="ccnumber">
        </div>
    </div>
    
    <input class="button-primary" type="submit" value="Submit">
</form>